@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Lato", Arial, Helvetica, sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
}

h1 {
	margin: 10px 0;
  text-align: center;
}


input, button {
  border: 2px solid #d4d0d0;
  padding: 8px;
  font-size: 20px;
  margin: 10px 0 10px 0;
  width: 100%;
  border-radius: 6px;
}

button {
	background-color: #1a1c2e;
	color: white;
	border-radius: 20px;
}
button:disabled {
	background-color:#d4d0d0
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-top: 2em;
  margin-right: 10px;
}



input:focus, select:focus, button:focus{
	outline: none;
	border: 2px solid #818cf8;
}


.img-preview {
	display: flex;
	margin: 12px 0;
	flex-wrap: wrap;
} 

.img-preview > img {
	width: 300px;
	/* height: 200px;
	object-fit: cover; */
	padding: 12px;
}

.action-buttons {
	display: flex;
	justify-content: space-around;
}

.actions > button {
	max-width: 300px;
}